<form method="post" id="pasteForm" class="dialog" action="/paste" target="_self">
  <fieldset>
    <h1>Paste</h1>
    <a class="button leftButton" type="cancel">Cancel</a>
    <a class="button blueButton" type="submit">Save</a>
    <div class="row">
      <%= text_area 'paste', 'paste', { :rows => 8 } %>
      <input type="hidden" name="commit" value="Save" />
    </div>
  </fieldset>
</form>
