<h2 class="paste_something_and_share_it"><span>Paste Something and Share It. Like, Really Fast.</span></h2>

<div id="hello">
  <p>Have you ever wanted to share a few paragraphs of text or HTML with someone? Or the <em>world</em>?</p>
  <p>Pastehost it and you'll get a cutely short URL to send to everyone.</p>
</div>

<div id="button_bar">
  <a class="random" href="/random"><span>Roll the Dice</span></a>
  <a class="paste" href="/paste"><span>Paste Something</span></a>
</div>
