<ul title="Pastehost" selected="true">
  <!--<li><%= link_to 'Paste', :controller => 'main', :action => 'paste', :target => '_self' %></li>-->
  <li><%= link_to 'Random', :controller => 'main', :action => 'random', :iui => 1 %></li>
</ul>
