<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=320, initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag 'mobile_style' %>

  <script language="javascript" type="text/javascript">
    addEventListener('load', function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar() {
      window.scrollTo(0,1);
    }
  </script>

	<title>Pastehost</title>
</head>

<body>
  <h1>
    <a href="/"><span>Pastehost!</span></a>
    <a href="#" onclick="$(this).up('form').submit(); return false;" class="iphone-button">Save</a>
  </h1>

  <div id="content_container">
    <div id="content">
      <div class="panel">
        <%= yield %>
      </div>
    </div>
  </div>

  <div id="footer">
    <p>Site design Copyright (c) 2009 Aaron Bieber</p>
    <p>User-contributed content is the sole property and responsibility of the contributor or author</p>
  </div>
</body>
</html>
